<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

        <h3>Order</h3>
        <p>Order ID: <%= order.id %> || Product Name: <%= order.product %></p>

        <%- include('partials/footer') %>
    </body>
</html>